body {
  height: 100vh;
}
.formContainer {
  margin: 10% 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.formElements {
  margin-bottom: 10px;
}
.required-field::after {
  content: '*';
  color: red;
}
.labelClass {
  display: flex;
  justify-content: center;
}

#error {
  color: red;
  display: flex;
  justify-content: center;
}
